<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>

<title>Task Manager</title>
</head>

<script type="text/javascript">
	function updateTask(taskId) {
		// your code that does something with param
		var r = confirm("Are you sure! Complete task");
		if (r == true) {
			$.ajax({
				type : "POST",
				url : "/tasks/complete_task/" + taskId,
				data : {
					id : taskId
				},

				success : function(data) {
					location.reload()
				
				}
			});
		} else {
			$("#complete_flg"+taskId).val(0);
			$("#complete_flg"+taskId).prop('checked', false);
		}
		

	};
</script>
<body>
	<div align="center">
		<h1>Task List</h1>
		<a href="tasks/new">タスク登録</a> <br /> <br />
		<div class="container px-lg-5">
			<div class="row mx-lg-n5">

				<div class="col py-3 px-lg-5 border bg-light">
					<h2>未完了</h2>

					<div class="list-group">
						<div class="list-group-item"
							th:each="task : ${listTasksNotComplete}">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1" th:text="${task.title}">Title</h5>
								<a th:href="@{/tasks/{id}/edit(id=*{task.id})}"><i
									class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

							</div>
							<div align="left">
								<p class="mb-1" th:text="${task.description}">Description</p>

								<p>
									<small th:text="'Schedule Date: ' + ${task.scheduled_date}">Schedule
										date</small>
								</p>
								<small th:text="'Complete Date: ' + ${task.complete_date}">Schedule
									date</small>
								<div class="form-check">
									<input class="form-check-input" type="checkbox"
										th:data-id="${task.id}" th:name="'complete_flg'+ ${task.id}"
										th:id="'complete_flg'+ ${task.id}"
										th:onclick="'updateTask(\'' +${task.id} +'\')'">
									<label class="form-check-label" for="complete_flg"> Is
										Complete </label>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col py-3 px-lg-5 border bg-light">
					<h2>完了</h2>

					<div class="list-group">
						<div class="list-group-item" th:each="task : ${listTasksComplete}">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1" th:text="${task.title}">Title</h5>
								<a th:href="@{/tasks/{id}/edit(id=*{task.id})}"><i
									class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

							</div>
							<div align="left">
								<p class="mb-1" th:text="${task.description}">Description</p>

								<p>
									<small th:text="'Schedule Date: ' + ${task.scheduled_date}">Schedule
										date</small>
								</p>
								<small th:text="'Complete Date: ' + ${task.complete_date}">Schedule
									date</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>