<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>タスク登録</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css"
	rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"
	rel="stylesheet" />

<link rel="stylesheet" href="/css/app.css" />
</head>

<script type="text/javascript">
	$(document).ready(
			function() {
				var dateInput = $('input[name="scheduled_date"]'); // Our date input has the name "date"
				var container = $('.bootstrap-iso form').length > 0 ? $(
						'.bootstrap-iso form').parent() : 'body';
				dateInput.datepicker({
					format : 'yyyy/mm/dd',
					container : container,
					todayHighlight : true,
					autoclose : true,
					startDate : truncateDate(new Date())
				// <-- THIS WORKS
				});

				$('#scheduled_date').datepicker('setStartDate',
						truncateDate(new Date())); // <-- SO DOES THIS
			}

	);

	$(document).ready(
			function() {
				var dateInput = $('input[name="complete_date"]'); // Our date input has the name "date"
				var container = $('.bootstrap-iso form').length > 0 ? $(
						'.bootstrap-iso form').parent() : 'body';
				dateInput.datepicker({
					format : 'yyyy/mm/dd',
					container : container,
					todayHighlight : true,
					autoclose : true,
					startDate : truncateDate(new Date())
				// <-- THIS WORKS
				});

				$('#complete_date').datepicker('setStartDate',
						truncateDate(new Date())); // <-- SO DOES THIS
			});

	function truncateDate(date) {
		return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	};

	function validateRegistration() {
		var r = confirm("Do you really want to summit infomation");
		if (r == true) {
			var str = [];
			if ($('#title').val() == "") {
				str.push("You must enter title");
			}
			if ($('#description').val() == "") {
				str.push("You must enter description");
			}
			console.log($('#scheduled_date').value);
			if ($('#scheduled_date').value == "") {
				str.push("You must enter scheduled_date");
				console.log($('#scheduled_date').value);
			}
			console.log($('#complete_date').value);
			if ($('#complete_date').value == "") {
				console.log($('#complete_date').value);
				str.push("You must enter complete_date");
			}
			if (str.length > 0) {
				alert(str.join('\n'));
				return false;
			} else {
				return true;
			}
		}
	};

	$('#dd-priority').select2()
</script>
<body>
	<div class="container">
		<h1>タスク登録</h1>
		<form th:action="@{/tasks}" id="task-form" th:method="post"
			th:onSubmit="return validateRegistration()">
			<fieldset>
			<div class="form-group">
				<label class="control-label">タイトル</label> <input
					class="form-control" type="text" name="title" id="title" />
				<!-- <label
						th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Generic
						Error</label> -->
			</div>

			<div class="input-group">
				<label class="control-label" for="description">タスクの内容</label>
				<textarea class="form-control" name="description" id="description"
					rows="10" aria-label="With textarea"></textarea>
				<!-- <label th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}">Generic Error</label> -->
			</div>

			<div class="form-group ">
				<label class="control-label" for="scheduled_date">予定日</label> <input
					class="form-control" id="scheduled_date" name="scheduled_date"
					placeholder="MM/DD/YYYY" type="text" />
				<!-- <label
						th:if="${#fields.hasErrors('scheduledate')}"
						th:errors="*{scheduledate}">Generic Error</label> -->
			</div>

			<div class="form-group ">
				<label class="control-label" for="complete_date">完了日</label> <input
					class="form-control" id="complete_date" name="complete_date"
					placeholder="MM/DD/YYYY" type="text" />
				<!-- <label
						th:if="${#fields.hasErrors('scheduledate')}"
						th:errors="*{scheduledate}">Generic Error</label> -->
			</div>

			<div class="form-group">
				<label class="control-label">優先順位</label>
				<div>
					<select class="dd-priority" name="priority">
						<option value="1">High</option>
						<option value="2">Medium</option>
						<option value="3">Normal</option>
						<option value="4">Low</option>
					</select>
				</div>
			</div>
			<div class="pull-right form-row">
			<button class="btn btn-outline-success" type="submit">登録</button>
			<button class="btn btn-outline-success"　type="button"　onclick="window.location.href='/tasks'">戻る</button>
			</div>
			</fieldset>
		</form>
		
	</div>
</body>
</html>